@import "utils/vars";
@import "components/logo";
@import "components/header";
@import "components/slider";
@import "components/attributes";
@import "components/activities";
@import "components/team";
@import "components/portfolio";
@import "components/our_clients";
@import "components/footer";
@import "components/modal";
@import "components/order";

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $mainTextColor;
}

h2,
h4,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin: auto;
  // padding-right: 15px;
}