@import "utils/vars";
@import "components/logo";
@import "components/header";
@import "components/slider";
// @import "components/attributes";
@import "components/attributes_mobile_first";
// @import "components/activities";
@import "components/activities_mobile_first";
// @import "components/our_clients";
@import "components/our_clients_mobile_first";

@import "components/team";
@import "components/portfolio";

@import "components/footer";
@import "components/modal";
@import "components/order";

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $mainTextColor;
}

h2,
h4,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;
}

@media only screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}