@import "utils/vars";
@import "components/logo";
@import "components/header";
@import "components/slider";
// @import "components/attributes";
@import "components/attributes_mobile_first";
@import "components/activities";
@import "components/team";
@import "components/portfolio";
@import "components/our_clients";
@import "components/footer";
@import "components/modal";
@import "components/order";

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $mainTextColor;
}

h2,
h4,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

// taki zapis jeśli będzie to wersja tylko dla desctop
// .section {
//   width: 1600px;
//   margin: 0 auto;
//   padding-bottom: 94px;
//   padding-top: 94px;
// }

// do wersji razem z mobile
.section {
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;
}

@media only screen and (min-width: 1200px) {
  .section {
    width: 1600px;
  }
}

// taki zapis jeśli będzie to wersjtylko z desctop
// .container {
//   width: 1200px;
//   margin: auto;
// }

// do wersji razem z mobile
.container {
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}