.activities {
  width: 100%;

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    width: 370px;
    height: 294px;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700px;
    font-size: 35px;
    line-height: 1.17;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    padding: 0 15px;
  }

  &__box {
    position: relative;
    background-color: $activitiesBoxBackground;
  }

  &__label {
    position: absolute;
    bottom: 0px;
    margin: 0;
    width: 100%;
    height: 70px;
    background-color: $activitiesLabelBackground;

  }

  &__desc {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $activitiesDescText;
  }
}