.attributes {
  width: 100%;
  margin-top: 94px;
}

.attributes-items {
  display: flex;
  gap: 30px;
  padding: 0 15px;
}

.attributes__item {
  list-style: none;
}

.attributes__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: $atributesBackgroundColor;
  border-radius: 4px;
}
.attributes__icon-svg{
  width: 70px;
  height: 70px;
}

.attributes__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
}

.attributes__desc {
  width: 270px;
  text-align: justify;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $contactColorMain;
}