.page-header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid $headerBorderBotomColor;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;

}

.page-header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header__logo--lable {
  color: $logoColorHeader;
}

.nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &__item {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;

    &:not(:last-child) {
      margin-right: 42px;
    }
  }

  &__link {
    text-decoration: none;
    color: $navigationLinkColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $hoverFocusColor;
    }
  }
}

.current-page {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0px;
    background-color: $curentPageColor;
    border-radius: 2px;
  }
}

.contact {
  display: flex;
  padding-left: 345px;

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $contactColorHeader;
    fill: $contactSvgColorHeader;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $hoverFocusColor;
      fill: $hoverFocusColor;
    }
  }

  &__svg {
    margin-right: 10px;
  }
}