/* sekcja pierwsza slider */
.slider-area {
  max-width: 1600px;
  height: 600px;
  display: flex;
  margin: auto;
  background: linear-gradient($sliderGradientBackground, $sliderGradientBackground), url(../images/slider.jpg) no-repeat center;
  position: relative;
  z-index: 3;

}

.slider__image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__title {
  width: 696px;
  color: $sliderTitleColor;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.slider__button {
  width: 200px;
  height: 50px;
  margin: 0;
  margin-top: 30px;
  background-color: $sliderButtonBackground;
  color: $sliderButtonTextColor;
  display: block;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px $sliderButtonBoxShadow;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  scale: 1;
  transition-property: background-color, scale;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:focus,
  &:hover {
    scale: 0.98;
    background-color: $sliderButtonBackgroundHoverFocus;
  }
}